pyJoules==0.2.0
viztracer==0.15.6
snakeviz==2.2.0
py-spy==0.1.0
pprofile==2.1.0
yappi==1.4.0
austin-python==1.5.0
scalene==1.5.21.4
carbontracker==1.1.7
experiment-impact-tracker==0.1.8
zeus-ml==0.7.0
codecarbon==2.3.1
eco2ai==0.3.8
numpy==1.24
numba==0.57.1

